<!DOCTYPE html>
<html>
  <head>
    <title>Flexdrive Billing</title>
  </head>

  <script src="../js/spin.js"></script>

  <script>
    function searchKeyPress(e) {
      // look for window.event in case event isn't passed in
      e = e || window.event;
      if (e.keyCode == 13) {
        spin();
        document.myform.submit();
        return false;
      }
      return true;
    }
    function searchKeyPress2(e) {
      // look for window.event in case event isn't passed in
      e = e || window.event;
      if (e.keyCode == 13) {
        if (confirm("Are you sure?")) {
          spin();
          document.myform.submit();
        }
        return false;
      }
      return true;
    }

    function leftArrow() {
      spin();
      document.getElementById('arrow').value = 'left';
      document.myform.submit();
      return false;
    }

    function go() {
      spin();
      document.myform.submit();
      return false;
    }

    function confirmThenGo() {
      if (confirm("Are you sure?")) {
        spin();
        document.myform.submit();
      }
      return false;
    }

    function rightArrow() {
      spin();
      document.getElementById('arrow').value = 'right';
      document.myform.submit();
      return false;
    }

    function goHome() {
      window.location.href = "<%=url%>/admin/home"
      return false;
    }

    function areYouSure() {
      if (confirm("Are you sure?")) {
        spin();
        return true;
      } else {
        return false;
      }
    }

    function spin() {
      var opts = {
        lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 1 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
      };
      var target = document.getElementById('spinnerId');
      var spinner = new Spinner(opts);
      spinner.spin(target);
      return true;
    }
  </script>

  <div id='spinnerId'><div>

  <body>
    <table width="100%">
      <tr>
        <td align="left"><img src="../images/flexdrive_icon.png" onclick="goHome();"></td>
        <td align="center"><h1>Billing</h1></td>
        <td align="right" valign="top"><a href="<%=url%>/admin/logout">Logout of <%=env%></a></td>
      </tr>
    </table>
    <% if (error) { %>
      <span style="color:red">Error: <%= error %></span>
    <% } %>
    <form name="myform" action="<%=url%>/admin/billings">
    <input type="hidden" id="arrow" name="arrow" value="no">
    <input type="hidden" name="sort" value="<%=sort%>">
    <p>Date: <img src="../images/arrow_back.png" onclick="leftArrow();">
      <input type="text"
        id="when"
        name="when"
        value="<%= date %>"
        onkeypress="return searchKeyPress(event);">
        <img src="../images/arrow_forward.png" onclick="rightArrow();">
    <input type="submit" onclick="return go();" value="Go">
    <p>Reservation Id:
      <input type="text"
        id="reservationId"
        name="reservationId"
        onkeypress="return searchKeyPress2(event);">
    <input type="submit" onclick="return confirmThenGo();" value="Bill">
    </form>
    <p>Count: <%= count %>
    <table  width="100%" border="1">
      <tr>
        <th></th>
        <th></th>
        <th>User</th>
        <th>Reservation ID</th>
        <% if (sort === 'up') { %>
          <th><a href="<%=url%>/admin/billings?when=<%=date%>&changeSort=true&sort=<%=sort%>">Status<img src="../images/arrow_up.png"</a></th>
        <% } else if (sort === 'down') { %>
          <th><a href="<%=url%>/admin/billings?when=<%=date%>&changeSort=true&sort=<%=sort%>">Status<img src="../images/arrow_down.png"</a></th>
        <% } else { %>
          <th><a href="<%=url%>/admin/billings?when=<%=date%>&changeSort=true&sort=<%=sort%>">Status</a></th>
        <% } %>
        <th>Res<br>Start</th>
        <th>Paid</th>
        <th>RC<br>Updated</th>
        <th>Process<br>ASAP</th>
        <th>Last Updated</th>
        <th>Error</th>
        <th>Comment</th>
      </tr>

      <%
      var bgcolor = 'lightblue';
      for(var i=0; i < results.length; i++) {
      if (bgcolor == 'lightblue') {
        bgcolor = 'white';
      } else {
        bgcolor = 'lightblue';
      }
      %>

      <tr bgcolor="<%= bgcolor %>">
        <td>
          <% if (results[i].error || results[i].pending || (results[i].paid && !results[i].reservationUpdated)) { %>
            &nbsp;<a onclick="return areYouSure();" href="<%=url%>/admin/billings?reservationId=<%= results[i].reservationId %>&when=<%=date%>&sort=<%=sort%>">Run</a>&nbsp;
          <% } %>
        </td>
        <td align="center"><a href="<%=url%>/admin/billings_edit?reservationId=<%= results[i].reservationId %>&when=<%=date%>&sort=<%=sort%>">+/-</a></td>
        <td align="center"><a href="<%=rcCustomerUrl%><%= results[i].rcCustomerId %>"><%= results[i].email %></a></td>
        <td align="center"><a href="<%=rcReservationUrl%><%= results[i].reservationId %>">
            <%= results[i].reservationId %></a></td>
        <td align="center"><%= results[i].status %></td>
        <td align="center"><%= results[i].reservationStart %></td>
        <td align="center"><%= results[i].paid %></td>
        <td align="center"><%= results[i].reservationUpdated %></td>
        <td align="center"><%= results[i].pending %></td>
        <td align="center"><%= results[i].updated %></td>

        <td>
          <% if (results[i].error) { %>
            <%= results[i].error %>
          <% } %>
        </td>

        <td>
          <% if (results[i].comment) { %>
            <%= results[i].comment %>
          <% } %>
        </td>

      </tr>
      <% } %>
</table>
<br>&nbsp;
  </body>
</html>
