
<!DOCTYPE html>
<html>
  <head>
    <title>Flexdrive Billing</title>
  </head>

  <script>
    function goHome() {
      window.location.href = "<%=url%>/admin/home"
      return false;
    }

    function showLinks()
    {
      document.getElementById("saveLink").style.visibility = "visible";
      document.getElementById("cancelLink").style.visibility = "visible";
    }

    function keyPress(e) {
      document.getElementById("saveLink").style.visibility = "visible";
      document.getElementById("cancelLink").style.visibility = "visible";
    }

    function save() {
      document.getElementById("action").value = "save";
      document.myform.submit();
      return false;
    }

    function cancel() {
      document.getElementById("action").value = "cancel";
      document.myform.submit();
      return false;
    }

  </script>

  <body>
    <table width="100%">
      <tr>
        <td align="left"><img src="../images/flexdrive_icon.png" onclick="goHome();"></td>
        <td align="center"><h1>Billing Entry</h1></td>
        <td align="right" valign="top"><a href="<%=url%>/admin/logout">Logout of <%=env%></a></td>
      </tr>
    </table>
    <% if (error) { %>
      <span style="color:red">Error: <%= error %></span>
    <% } %>
    <form name="myform" action="<%=url%>/admin/billings_save">
    <input type="hidden" name="reservationId" value="<%= result.reservationId %>">
    <input type="hidden" name="when" value="<%= date %>">
    <input type="hidden" id="action" name="action" value="">
    <input type="hidden" id="sort" name="sort" value="<%= sort %>">
    <table cellPadding="4">
      <tr>
        <td align="right">Status:</td>
        <td><select onclick="showLinks();" name="status">
          <option value="none">&nbsp;</option>
          <%for (var i = 0; i < statuses.length; ++i) {
            var status = statuses[i];%>
            <option value="<%=status%>"
            <% if (result.status && result.status === status) { %>
            selected
            <% } %>
              ><%=status%></option>
          <%}%>
        </td>
      </tr>
      <tr>
        <td align="right">Comment:</td>
        <td size="50"><input type="text" name="comment" onkeypress="keyPress();"
          <% if (result.comment) { %>
            value="<%= result.comment %>"
          <%}%>
          </td>
      </tr>
      <tr>
        <td align="right">&nbsp;</td>
        <td><a id="saveLink" style="visibility:hidden"; onclick="save();"  href="#">Save</a>&nbsp;&nbsp;<a id="cancelLink" style="visibility:hidden"; onclick="cancel();" href="#">Cancel</a></td>
      </tr>
      <tr>
        <td align="right">Process ASAP:</td>
        <td><%= result.pending %></td>
      </tr>
      <tr>
        <td align="right">Processing</td>
        <td><%= result.processing %></td>
      </tr>
      <tr>
        <td align="right">Created Date:</td>
        <td><%= result.created %></td>
      </tr>
      <tr>
        <td align="right">Last Updated:</td>
        <td><%= result.updated %></td>
      </tr>
      <tr>
        <td align="right">Location Id:</td>
        <td><%= result.locationId %></td>
      </tr>
      <tr>
        <td align="right">Reservation Id:</td>
        <td><%= result.reservationId %></td>
      </tr>
      <tr>
        <td align="right">Reservation Updated:</td>
        <td><%= result.reservationUpdated %></td>
      </tr>
      <tr>
        <td align="right">Reservation Start Date:</td>
        <td><%= result.reservationStart %></td>
      </tr>
      <tr>
        <td align="right">Rent Centric Customer Id:</td>
        <td><%= result.rcCustomerId %></td>
      </tr>
      <tr>
        <td align="right">Email:</td>
        <td><%= result.email %></td>
      </tr>
      <tr>
        <td align="right">Stripe Id:</td>
        <td><%= result.stripeId %></td>
      </tr>
      <tr>
        <td align="right">Invoice Id:</td>
        <td><%= result.invoiceId %></td>
      </tr>
      <tr>
        <td align="right">Balance Due:</td>
        <td><%= result.balanceDue %></td>
      </tr>
      <tr>
        <td align="right">Fees:</td>
        <td><%= result.fees %></td>
      </tr>
      <tr>
        <td align="right">Taxes:</td>
        <td><%= result.taxes %></td>
      </tr>
      <tr>
        <td align="right">Total:</td>
        <td><%= result.total %></td>
      </tr>
      <tr>
        <td align="right">Credit Card Last Four Digits:</td>
        <td><%= result.lastFour %></td>
      </tr>
      <tr>
        <td align="right">Paid Date:</td>
        <td><%= result.paid %></td>
      </tr>
      <tr>
        <td align="right">Last Error:</td>
        <td><%= result.error %></td>
      </tr>
      <tr>
        <td align="right">Parse Id:</td>
        <td><%= result.id %></td>
      </tr>
    </table>
    </form>
<br>&nbsp;
  </body>
</html>
