
<!DOCTYPE html>
<html>
  <head>
    <title>Flexdrive Home</title>
  </head>

  <body>
    <table width="100%">
      <tr>
        <td align="left"><img src="../images/flexdrive_icon.png"></td>
        <td align="center">&nbsp;</td>
        <td align="right" valign="top"><a href="<%=url%>/admin/logout">Logout of <%=env%></a></td>
      </tr>
    </table>
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to <a href="<%=url%>/admin/billings">Billing</a> page.
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to <a href="<%=url%>/admin/logging">Logging</a> page.
    <% if ( isStripeReporter || isAdmin ) { %>
      <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to <a href="<%=url%>/admin/stripeReporting">Stripe Reporting</a> page.
    <% } %>
    <br>&nbsp;
  </body>
</html>
