
<!DOCTYPE html>
<html>
  <head>
    <title>Flexdrive Error Log</title>
  </head>

  <script>
    function goHome() {
      window.location.href = "<%=url%>/admin/home"
      return false;
    }

  </script>

  <body>
    <table width="100%">
      <tr>
        <td align="left"><img src="../images/flexdrive_icon.png" onclick="goHome();"></td>
        <td align="center"><h1>Error Log</h1></td>
        <td align="right" valign="top"><a href="<%=url%>/admin/logout">Logout of <%=env%></a></td>
      </tr>
    </table>
    <% if (error) { %>
      <span style="color:red">Error: <%= error %></span>
    <% } %>
    <table cellPadding="4">
      <tr>
        <td align="right">Parse Id:</td>
        <td><%= result.id %></td>
      </tr>
      <tr>
        <td align="right">Time:</td>
        <td><%= result.created %></td>
      </tr>
      <tr>
        <td align="right">Type:</td>
        <td><%= result.type %></td>
      </tr>
      <tr>
        <td align="right">Description:</td>
        <td><pre><%= result.description %></pre></td>
      </tr>
      <tr>
        <td align="right">Message:</td>
        <td><%= result.userMessage %></td>
      </tr>
      <tr>
        <td align="right">Code:</td>
        <td><%= result.errorCode %></td>
      </tr>
      <tr>
        <td align="right">Function:</td>
        <td><%= result.cloudFunctionName %></td>
      </tr>
      <tr>
        <td align="right">Job:</td>
        <td><%= result.cloudJobName %></td>
      </tr>
      <tr>
        <td align="right">External API:</td>
        <td><%= result.expressPath %></td>
      </tr>
      <tr>
        <td align="right">Method:</td>
        <td><%= result.methodName %></td>
      </tr>
      <tr>
        <td align="right" valign="top">Messages:</td>
        <td align="left">
          <%
          if (result.internalMessagesAsText) {
              for (var j=0; j < result.internalMessagesAsText.length; j++) {
                %>
                <%= result.internalMessagesAsText[j] %> <br>
                <%
              }
          }
          %>
        </td>
      </tr>
      <tr>
        <td align="right" valign="top">User:</td>
        <td align="left">
          <%
          if (result.userInfo) {
              for (var j=0; j < result.userInfo.length; j++) {
                %>
                <%= result.userInfo[j] %> <br>
                <%
              }
          }
          %>
        </td>
      </tr>
      <tr>
        <td align="right" valign="top">Installation:</td>
        <td><pre><%= result.installation %></pre></td>
      </tr>
    </table>
<br>&nbsp;
  </body>
</html>
