
<!DOCTYPE html>
<html>
  <head>
    <title>Flexdrive Log</title>
  </head>

  <script src="../js/spin.js"></script>

  <script>
    function searchKeyPress(e) {
      // look for window.event in case event isn't passed in
      e = e || window.event;
      if (e.keyCode == 13) {
        spin();
        document.myform.submit();
        return false;
      }
      return true;
    }

    function leftArrow() {
      spin();
      document.getElementById('arrow').value = 'left';
      document.myform.submit();
      return false;
    }

    function go() {
      spin();
      document.myform.submit();
      return false;
    }

    function rightArrow() {
      spin();
      document.getElementById('arrow').value = 'right';
      document.myform.submit();
      return false;
    }

    function goHome() {
      window.location.href = "<%=url%>/admin/home"
      return false;
    }

    function spin() {
      var opts = {
        lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 1 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
      };
      var target = document.getElementById('spinnerId');
      var spinner = new Spinner(opts);
      spinner.spin(target);
      return true;
    }
  </script>

  <div id='spinnerId'><div>

  <body>
    <table width="100%">
      <tr>
        <td align="left"><img src="../images/flexdrive_icon.png" onclick="goHome();"></td>
        <td align="center"><h1>Log</h1></td>
        <td align="right" valign="top"><a href="<%=url%>/admin/logout">Logout of <%=env%></a></td>
      </tr>
    </table>
    <% if (error) { %>
      <span style="color:red">Error: <%= error %></span>
    <% } %>
    <form name="myform" action="<%=url%>/admin/logging">
    <input type="hidden" id="arrow" name="arrow" value="no">
    <p>Date: <img src="../images/arrow_back.png" onclick="leftArrow();">
      <input type="text"
        id="when"
        name="when"
        value="<%= date %>"
        onkeypress="return searchKeyPress(event);">
        <img src="../images/arrow_forward.png" onclick="rightArrow();">
    <input type="submit" onclick="return go();" value="Go">
    </form>
    <p>Count: <%= count %>
    <table width="100%" border="1">
      <tr>
        <th></th>
        <th>Time</th>
        <th>Type</th>
        <th>Description</th>
        <th>Message</th>
        <th>Internal<br>Messages</th>
      </tr>

      <%
      var bgcolor = 'lightblue';
      for (var i=0; i < results.length; i++) {
      if (bgcolor == 'lightblue') {
        bgcolor = 'white';
      } else {
        bgcolor = 'lightblue';
      }
      %>

      <tr bgcolor="<%= bgcolor %>">
        <td><a href="<%=url%>/admin/log?id=<%= results[i].id %>&when=<%=date%>">View</a>
        </td>
        <td align="center"><%= results[i].created %></td>
        <td align="center"><%= results[i].type %></td>
        <td align="left"><%= results[i].description %></td>
        <td align="center"><%= results[i].userMessage %></td>
        <td align="left">
          <%
          if (results[i].internalMessagesAsText) {
              for (var j=0; j < results[i].internalMessagesAsText.length; j++) {
                %>
                <%= results[i].internalMessagesAsText[j] %> <br>
                <%
              }
          }
          %>
        </td>
      </tr>
      <% } %>
    </table>
<br>&nbsp;
  </body>
</html>
