
<!DOCTYPE html>
<html>
  <head>
    <title>Flexdrive Login</title>
  </head>

  <body>
    <br>
    <br>
    <form name="myform" action="<%=url%>/admin/login" method="post">
      <table width="100%">
        <tr align="center">
          <td align="center"><img src="../images/flexdrive_icon.png"></td>
        </tr>
        <tr align="center">
          <td align="center"><b>Please log into <%=env%></b></td>
        </tr>
        <tr >
          <td align="center">
            <table>
              <tr>
                <td align="right">User:</td>
                <td><input type="text" name="user"></td>
              </tr>
              <tr>
                <td align="right">Password:</td>
                <td><input type="password" name="password"></td>
              </tr>
            </table>
          </td>
        </tr>
        <% if (error) { %>
          <tr align="center">
            <td align="center"><span style="color:red"><%= error %></span></td>
          </tr>
        <% } %>
        <tr align="center">
          <td align="center"><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
