
<!DOCTYPE html>
<html>
  <head>
    <title>Flexdrive Stripe Report</title>
  </head>

  <body>
    Status: <%= status %>
    <br>
    Number of entries: <%= count %>
    <pre>
<%= header %>
<%= csv %>
    </pre>
<br>&nbsp;
  </body>
</html>
