
<!DOCTYPE html>
<html>
  <head>
    <title>Flexdrive Stripe Reporting</title>
  </head>

  <script src="../js/spin.js"></script>

  <script>
    function searchKeyPress(e) {
      e = e || window.event;
      if (e.keyCode == 13) {
        var doit = confirm('Any new reports or reports in progress will be terminated. Are you sure?');
        if (doit === true) {
          spin();
          document.getElementById('processMe').value = 'true';
          document.myform.submit();
          return false;
        } else {
          return false;
        }
      }
      return true;
    }

    function go() {
      var doit = confirm('Any new reports or reports in progress will be terminated. Are you sure?');
      if (doit === true) {
        spin();
        document.getElementById('processMe').value = 'true';
        document.myform.submit();
        return false;
      } else {
        return false;
      }
    }

    function deleteReport(url) {
      if (confirm('Are you sure?')) {
        spin();
        window.location.href = url
        return true;
      }
      return false
    }

    function goHome() {
      window.location.href = "<%=url%>/admin/home"
      return false;
    }

    function spin() {
      var opts = {
        lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 1 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
      };
      var target = document.getElementById('spinnerId');
      var spinner = new Spinner(opts);
      spinner.spin(target);
      return true;
    }
  </script>

  <div id='spinnerId'><div>

  <body>
    <table width="100%">
      <tr>
        <td align="left"><img src="../images/flexdrive_icon.png" onclick="goHome();"></td>
        <td align="center"><h1>Stripe Reporting</h1></td>
        <td align="right" valign="top"><a href="<%=url%>/admin/logout">Logout of <%=env%></a></td>
      </tr>
    </table>
    <% if (error) { %>
      <span style="color:red">Error: <%= error %></span>
    <% } %>
    <form name="myform" action="<%=url%>/admin/stripeReporting">
    <input type="hidden" id="processMe" name="processMe" value="false">
    <p>From:&nbsp;<input type="text" id="fromDate" name="fromDate" value="<%= fromDate %>" onkeypress="return searchKeyPress(event);">
      &nbsp;&nbsp;To:&nbsp;<input type="text" id="toDate" name="toDate" value="<%= toDate %>" onkeypress="return searchKeyPress(event);">
      <input type="submit" onclick="return go();" value="New Report">
    </form>
    <table cellpadding="5">
      <th>User</th><th>Status</th><th>Retrying</th><th>Start</th><th>End</th><th>Processing Date</th>
      <% for (var i = 0; i < reports.length; ++i) {
         var report = reports[i] %>
      <tr>
        <td><%= report.username %> </td>
        <td><%= report.status %> </td>
        <td><%= report.error %> </td>
        <td><%= report.start %> </td>
        <td><%= report.end %> </td>
        <td align="center"><%= report.stripeProcessingDate %> </td>
        <td><a onclick=deleteReport('<%=url%>/admin/stripeReporting?id=<%= report.id %>&action=delete') href="#">Delete</a> </td>
        <% if (report.status === 'Finished' || report.status === 'Processing') { %>
          <td><a href="<%=url%>/admin/stripeReporting?id=<%= report.id %>&action=view">View</a> </td>
        <% } else { %>
          <td></td>
        <% } %>
        <% if (report.status === 'New' || report.status === 'Processing') { %>
          <td><a href="<%=url%>/admin/stripeReporting?id=<%= report.id %>&action=refresh">Refresh</a> </td>
        <% } %>
      </tr>
      <% } %>
  </table>
<br>&nbsp;
  </body>
</html>
